# Sets, Collections, & Exception Handling 

## Sets

* create a new empty set
* print that set

In [1]:
s = set()
print(s)

set()

* create a non empty set
* print that set

In [2]:
s = set([1,2,3,])
print(s)

{1, 2, 3}

* iterate over the set and print results

In [3]:
for value in s:
    print(value)

1
2
3

* add one item to the set

In [4]:
s.add(4)
print(s)

{1, 2, 3, 4}

* add multiple items to the set

In [9]:
s.add((5,6,7,8,9))
t = {10,11,12,13}
s.update(t)
print(s)

{1, 2, 3, 4, 10, 11, 12, 13, (5, 6, 7, 8, 9)}

* remove an item from a set if it is present in the set

In [10]:
s.discard(6)
print(s)

{1, 2, 3, 4, 10, 11, 12, 13, (5, 6, 7, 8, 9)}

* find maximum and minimum values of the set

In [21]:
s.discard((5,6,7,8,9))
print(str(min(s)) + " " + str(max(s)))

1 13

* print the length of the set

In [22]:
print(len(s))

8

* create an intersection of x and y

In [23]:
x = {1,2,3,4,5,6,7}
y = {4,5,6,7,8,9,10}

print( x & y )

{4, 5, 6, 7}

* create an union of x and y

In [24]:
print( x | y )

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

* create difference between x and y

In [25]:
print( x.difference(y))

{1, 2, 3}

---------------
## Collections

* for each word in a sentence count the occurence
* **sentence:** *black cat jumped over white cat*

In [27]:
from collections import Counter

sentence = "black cat jumped over white cat"
words = sentence.split()
print(Counter(words))

Counter({'cat': 2, 'black': 1, 'jumped': 1, 'over': 1, 'white': 1})

* print the most common words

In [28]:
print(Counter(words).most_common(2))

[('cat', 2), ('black', 1)]

* count the occurences of words in the same sentence but now use **defaultdict**

In [30]:
from collections import defaultdict

count = defaultdict(int)
for word in words:
    count[word] +=1
print(count)

defaultdict(<class 'int'>, {'black': 1, 'cat': 2, 'jumped': 1, 'over': 1, 'white': 1})

* create deque from list set used in first exercise

In [31]:
from collections import deque

deq = deque(s)
print(deq)

deque([1, 2, 3, 4, 10, 11, 12, 13])

* append number 10 to deque

In [34]:
deq.append(10)
print(deq)

deque([1, 2, 3, 4, 10, 11, 12, 13, 10, '10', 10])

* remove element from the right end from deque

* remove element from the left end from deque

In [35]:
deq.popleft()
print(deq)

deque([2, 3, 4, 10, 11, 12, 13, 10, '10', 10])

* delete all elements from deque

In [36]:
deq.clear()
print(deq)

deque([])

* create named tuple (people) with name and surname as position names

In [38]:
from collections import namedtuple

people = namedtuple('people', 'name surname')
person1 = people(name='Chantal', surname='Deguire')
print(person1)

people(name='Chantal', surname='Deguire')

* print name and surname

_________________
## Exception handling
Now, let's practice with **errors and exception handling**

* Transform all string elements from a list to upper, if the element is not a string don't transform it.
* Use a try & except block without using the 'if' statement.

In [45]:
s = [123,'asdag',91823]

for index, item in enumerate(s):
    try: 
        s[index] = item.upper()
    except AttributeError:
        pass

print(s)

[123, 'ASDAG', 91823]

### We have created a function below:

Luke Skywalker has family and friends. Help him remind himself the type of relation he has with his family and friends. 

Given a string with a name, return the relation of that person to Luke.

**Person --> Relation**
- Darth Vader --> father
- Leia --> sister
- Han --> brother in law
- R2D2 --> droid

#### Examples

> relation_to_luke("Darth Vader") ➞ "Luke, I am your father."
>
> relation_to_luke("Leia") ➞ "Luke, I am your sister."
>
> relation_to_luke("Han") ➞ "Luke, I am your brother in law."

In [72]:
def relation_to_luke(text):
    _dict = {}
    _dict["Darth Vader"] = "father"
    _dict["Leia"] = "sister"
    _dict["Ham"] = "brother in law"
    _dict["R2D2"] = "droid"
    try: 
        print(f"Luke, I am your {_dict[text]}")
    except KeyError:
        print("Luke doesn't have a family member of that name")

#### Task I
Fix errors in the function above so we can run following code

In [73]:
relation_to_luke("Darth Vader")
relation_to_luke("Leia")
relation_to_luke("Han")
relation_to_luke("R2D2")

Luke, I am your father
Luke, I am your sister
Luke doesn't have a family member of that name
Luke, I am your droid

#### Task II
Use exception handling so we can run the function with any string. In this case, the function will return following:

**relation_to_luke("aaaa") ➞ "aaaa is not in the relation with Luke"**

**Note:** Do **Not** use an **if** statement for this